<!DOCTYPE html>
<!-- Kielen määritys -->
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <!-- Responsiivisen sivun määrittely -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HippoInfo</title>
  <!-- CSS-tyyliasetukset -->
  <link rel="stylesheet" type="text/css" href="hippostyle.css">
  <link href='https://fonts.googleapis.com/css?family=Nanum Pen Script' rel='stylesheet'>
</head>
<!-- Varsinainen sivun sisältö -->

<body>
  <h1>RASEKO</h1>
  <h2>Yhteystiedot</h2>
  <ul>
    <li>Eeronkuja 3, 21200 RAISIO</li>
    <li>0400 705 7425</li>
    <li>info@raseko.fi</li>
    <li><a href="https://www.raseko.fi">www.raseko.fi</a></li>
  </ul>
  <p>Hippopotamus on veikeä, mutta vaarallinen eläin, joka asuu Afrikassa. Useimmat meistä kutsuvat sitä nimellä virtahepo.</p>
  <img src="hippo.jpg" alt="Virtahepo">
</body>

</html>
